<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-orange-300 via-orange-500 to-amber-900">
      {%include "components/navbar.html.jinja"%}
      <div class="flex flex-col justify-center flex-center">
        <div>
        <p>404</p>
        </div>
        <div>
        <p>It seems that you aren't bready for this page!</p>
        </div>
        <div>
        <a href="/">Go to homepage</a>
        </div>
      </div>
  </body>
</html>