<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-orange-300 via-orange-500 to-amber-900">
    {%include "components/navbar.html.jinja"%}
    <h1 class="text-3xl font-bold underline">
      <h1 class="text-center text-4xl font-bold m-4">All Bread products</h1>
    </h1>

  <main class="grid grid-cols-4 gap-3 max-w-4xl mx-auto p-6 mb-5 rounded shadow-2xl text-center">
    {% for x in products %}
      <a href="/product/{{x['ID']}}" class="grid rounded shadow bg-orange-100 border-2 border-black">
      <img class="h-25 mx-auto mt-4 w-40 rounded border-1 border-black" src="{{ x['Image'] }}" width="300" height="300">
      <h1 class="font-bold">{{x["Name"]}}</h1> <br>
      <div class="text-right text-s pb-3 pr-3">
        ${{x["Price"]}} <br>
      </div>
      </a>
    {% endfor %}
  </main>
  </body>
</html>