<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="/static/mycss.css" rel="stylesheet" type="text/css">
  </head>
  <body class="min-h-screen bg-gradient-to-b from-orange-300 via-orange-500 to-amber-900">
    {%include "components/navbar.html.jinja"%}

    {% if cart %}
    <h1 class="text-center font-bold text-4xl m-4">Your cart</h1>
    <main class="m-auto w-350 grid grid-cols-2 gap-5">
    <div class="col-span-2">
    {%for x in cart%}
    
      <div class="flex flex-row items-center gap-5 border-2xl m-3 py-4 px-4 bg-white rounded">
      
        <div><img class="max-h-55 max-w-100 rounded border-1 border-black" src="{{ x['Image'] }}"></div>
        <div><h1 class="text-xl"> {{ x['Name'] }} </h1></div>
        <div>
            <form class="flex justify-center" method="post" action="/cart/{{ x['ProductID'] }}/update_qty">
                <input class="w-8 hover:bg-white" name="qty" type="number" value="{{x['Quantity']}}">
                <button class="hover:bg-orange-300 p-2 cursor-pointer" type="submit">Update</button>
            </form>
        </div>
        <div>
          <form method="post" action="/cart/{{ x['ProductID'] }}/delete_qty">
            <button class="hover:bg-orange-300 p-2 cursor-pointer" type="submit">Delete</button>
          </form>
        </div>
        <div><h1 class="text-xl"> Price: {{ x['Price'] }} </h1></div>
        <div><h1 class="text-xl"> Total price: {{ x['Price'] * x['Quantity'] }} </h1></div>
        
      </div>
      
   
    {%endfor%}
    </div>
      <div class="col-end-7">
        <div class="bg-white">
        <h1>{{total}}</h1>
        </div>
      </div>
    </main>
    {%else%}
    <h1 class="text-center font-bold text-4xl m-4">You have nothing in your cart</h1>

    <div class="flex justify-center">
    <a class="text-black bg-orange-100 p-5 hover:bg-orange-600 hover:text-white transition" href="/browse">Browse here!</a>
    </div>
    {%endif%}
  </body>
</html>