<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-amber-200">
    {%include "components/navbar.html.jinja"%}
    <div class="flex justify-between m-40 rounded shadow">
        <div>
            <p>INSERT IMAGE HERE</p>
        </div>
        <div>
            <p class="text-3xl text-underline"> This bread as of right now is currently on sale for $0.99. WOW!</p>
        </div>
    </div>
    <h1 class="font-bold m-auto text-center text-4xl"> | All featured Breads |</h1>
    <div class="flex justify-between m-40 rounded shadow">
        <div class="text-2xl text-underline">
            <p>MOST POPULAR BREAD!</p>
            <p>Plain Bagel</p>
            <p>$1.49</p>
        </div>
        <div>
            <p>INSERT IMAGE HERE</p>
        </div>
    </div>

    <div class="flex justify-between m-40 rounded shadow">
        <div>
            <p>INSERT IMAGE HERE</p>
        </div>
        <div class="text-2xl text-underline">
            <p>MOST POPULAR NATIONAL BREAD!</p>
            <p>Baguette</p>
            <p>$2.49</p>
        </div>
    </div>
    <div class="flex justify-between m-40 rounded shadow">
        <div class="text-2xl text-underline">
            <p>MOST HEALTHIEST BREAD!</p>
            <p>Whole Wheat Bread</p>
            <p>$1.99</p>
        </div>
        <div>
            <p>INSERT IMAGE HERE</p>
        </div>
    </div>
  </body>
</html>